body {
  min-width: 1220px;
  color: #3e4d5c;
  direction: ltr;
  position: relative;
  font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", yahei;
}

.container {
  width: 1220px !important;
}

.navbar-nav > li, .navbar-nav {
  float: left;
}

.navbar-nav {
  margin: 0;
}

.navbar-right {
  float: right;
}

.hp-cnt.page-container {
  margin-top: 20px;
}

.hot-warp {
  margin: 10px 0;
}

.page-content-wrapper .page-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/***
General typography 
***/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

h1 {
  margin-bottom: 15px;
}

.main h1 {
  margin-top: -6px;
}

/***
Fix link outlines after click
***/
a {
  color: #E02222;
}

a, a:focus, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

a:hover {
  color: #E02222;
  text-decoration: underline;
}

/***
Misc tools
***/
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.no-space {
  margin: 0 !important;
  padding: 0 !important;
}

.no-text-shadow {
  text-shadow: none !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-65 {
  margin-bottom: 65px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

div.checker,
div.radio {
  top: -1px;
}

select.form-control {
  color: #5f6d7b;
  border-radius: 0;
  border-color: #e4e6e8;
  box-shadow: none;
}

select.form-control:focus {
  box-shadow: none;
  border-color: #999;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

* html .clearfix {
  zoom: 1;
}

* + html .clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.lead {
  font-size: 16px;
}

.font-transform-inherit {
  text-transform: inherit !important;
}

.color-red {
  color: #E84D1C;
}

/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport {
  width: auto !important;
}

/* Global classes */
.min-hight500 {
  min-height: 500px;
}

/***
Pre-Header and pre-header elements
***/
.hd-spliter {
  display: inline-block;
  background: url("../img/index_spliter.png") no-repeat 0 0;
}

.pre-header {
  color: #616b76;
  border-bottom: 1px solid #ecedec;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #dadbda;
}

.pre-header .nav li {
  padding: 0 0 0 5px;
}

.pre-header .nav li a, .pre-header .nav li span {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #858585;
}

.additional-shop-info .nav li .nl {
  padding: 0 5px 0 0;
}

.pre-header .additional-shop-info .nav li {
  padding-left: 0;
}

.pre-header .nav li a:hover {
  color: #e9512c;
}

.pre-header a:focus {
  text-decoration: none;
}

.pre-header ul {
  margin-left: 0;
}

.pre-header li {
  padding-left: 11px;
  padding-right: 11px;
}

.pre-header li:last-child {
  border: none;
}

.coming {
  margin: 19px 0 15px 108px;
  padding: 0;
  float: right;
  border-radius: 0;
}

.coming .btn {
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  margin: 0;
}

.additional-shop-info li:first-child {
  padding-left: 0;
}

.additional-shop-info li {
  border-right: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.additional-shop-info li .text-danger {
  color: #e64f00;
}

.additional-nav li.app {
  padding-left: 0;
  padding-right: 0;
}

.additional-nav li.app a {
  padding-left: 20px;
  position: relative;
  padding-right: 10px;
}

.additional-nav li .hd-s-mb {
  position: absolute;
  width: 10px;
  height: 15px;
  left: 5px;
  background-position: right 0;
}

.additional-nav li:last-child {
  padding-right: 0;
}

.pre-header .fa {
  margin-right: 4px;
}

.shop-currencies a {
  margin-right: 6px;
}

.shop-currencies a:last-child {
  margin-right: 0;
}

.shop-currencies a.current {
  color: #E02222;
}

/***
Header and header elements
***/
.header {
  background: #fff;
  border-radius: 0;
  z-index: 999;
  position: relative;
  border-bottom: 5px solid #e95529;
}

/* FIX styles BEGIN */
.page-header-fixed .header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

body.page-header-fixed {
  padding-top: 88px !important; /* height of the header */
}

.header .container {
  position: relative;
}

.ie8 .header {
  border-bottom: 1px solid #eee;
}

.site-logo {
  float: left;
  font-size: 23px;
  font-weight: 400;
  margin-right: 67px;
  padding-top: 20px;
}
.site-logo:hover, .site-logo:focus {
  text-decoration: none;
}

.site-logo img {
  float: left;
}

.site-logo .text-muted {
  font-size: 14px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.header .mobi-toggler i {
  display: none;
}

/* Navigation */
.header-navigation {
  font: 15px "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  overflow: visible;
}

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation > ul > li {
  float: left;
}

.header-navigation > ul > li > a {
  color: #333;
  display: block;
  padding: 29px 20px 30px;
  width: 120px;
  text-align: center;
}

.header-navigation > ul > li > a.btn-rg, .header-navigation > ul > li > a.btn-login {
  padding: 6px 12px;
  width: auto;
}

.header-navigation .navbar-right li {
  padding: 22px 0 23px 0;
}

.header-navigation .navbar-right.ps li {
  padding: 0;
}

.header-navigation .navbar-right li a.btn {
  width: auto;
  height: 34px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 12px;
  margin-left: 10px;
  color: #fff;
}

.header-navigation li a.dropdown-toggle {
  width: auto;
  padding: 29px 12px 29px 12px;
  margin-left: 10px;
  color: #333;
}

.header-navigation .pull-right li a img {
  float: left;
  margin-top: -8px;
  margin-right: 7px;
  width: 39px;
  height: 39px;
  display: inline-block;
}

.header-navigation .navbar-right li .btn-rg {
  border: 1px solid #cd2024;
  background: #f2462b;
  color: #fff;
  background: -moz-radial-gradient(center, ellipse cover, #f2462b 0%, #d83525 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #f2462b 0%, #d83525 100%);
  background: radial-gradient(ellipse at center, #f2462b 0%, #d83525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2462b', endColorstr='#d83525', GradientType=1);
}

.header-navigation .navbar-right li .btn-login {
  border: 1px solid #005692;
  background: #0c6cad;
  color: #fff;
  background: -moz-radial-gradient(center, ellipse cover, #0c6cad 0%, #005591 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #0c6cad 0%, #005591 100%);
  background: radial-gradient(ellipse at center, #0c6cad 0%, #005591 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c6cad', endColorstr='#005591', GradientType=1);

}

.header-navigation ul > li > a:hover,
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
  color: #e02222;
  background: #f2f2f2;
  text-decoration: none;
}

/* dropdown menu */
@media (min-width: 1025px) {
  .header-navigation > ul > li:hover > .dropdown-menu {
    display: block;
  }
}

.header-navigation .dropdown-fix-left,
.header-navigation .dropdown-fix-right {
  position: relative;
}

.header-navigation .dropdown-menu {
  left: auto;
  top: 100%;
  padding: 0;
  background: #fff;
  position: absolute;
  border: none;
  box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
  text-transform: none;
  font: 13px "Open Sans", sans-serif;
  letter-spacing: 0;
  border-radius: 0;
  z-index: 9999;
}

.header-navigation .dropdown-menu:before,
.header-navigation .dropdown-menu:after {
  display: none !important;
}

.dropdown-fix-left .dropdown-menu {
  left: 0;
  width: 700px;
}

.dropdown-fix-right .dropdown-menu {
  right: 0;
  width: 700px;
}

/* navigation content */
.header-navigation-content {
  padding: 20px 30px;
  min-width: 600px;
}

.header-navigation-content .header-navigation-col {
  padding: 0;
}

.header-navigation-content h4,
.ecommerce .header-navigation-content h4 {
  font: bold 15px 'Open Sans', Arial, sans-serif;
  margin: 0 0 6px;
  padding: 10px 10px 5px;
  border-bottom: solid 1px #f0f0f0;
}

.header-navigation-content ul {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}

.header-navigation-content li {
  padding: 0;
  border: none !important;
}

.header-navigation-content li > a {
  display: block;
}

/* header navigation description */
.header-navigation-content-ext {
  padding: 20px 30px 2px;
  background: #fff;
}

.header-navigation-description {
  background: #fcfafb;
  margin: -20px 0 -2px -30px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(91, 91, 91, 0.2) inset;
}

.header-navigation-content-ext h4,
.ecommerce .header-navigation-content-ext h4 {
  border: none;
  padding: 10px 0 0;
}

.header-navigation .dropdown-menu .header-navigation-content-ext li {
  border: none;
}

.header-navigation .dropdown-menu .header-navigation-content-ext li > a {
  padding: 0 0 10px;
  color: #767f88;
  display: inline-block;
}

.header-navigation .dropdown-menu .header-navigation-content-ext li > a:hover,
.header-navigation .dropdown-menu .header-navigation-content-ext li.active > a {
  background: #fff;
  color: #e6400c;
}

/* n-level submenu */
.header-navigation .dropdown-menu .dropdown-menu {
  left: 100%;
  right: auto;
  top: 6px;
}

.header-navigation .dropdown-menu a {
  position: relative;
}

/* Top Search */

/* page slider */
.page-slider {
  margin-top: -25px;
  clear: both;
}

/* END LAYER SLIDER */

/* breadcrumb */
.breadcrumb {
  background: none;
  padding: 0;
  font: 14px "Open Sans", sans-serif;
  color: #5f6d7b;
  margin-bottom: 22px;
}

.breadcrumb > li + li:before {
  content: "\f105 ";
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #5f6d7b;
}

.breadcrumb a {
  color: #5f6d7b;
}

.breadcrumb > .active {
  color: #e6400c;
}

img {
  border: 0;
}

#Index {
  z-index: 1;
  margin: 50px auto 0px;
  width: 960px;
  height: auto;
}

#Index_Box {
  position: relative;
  margin: 30px auto 20px;
  width: 960px;
  height: 430px
}

#Index_Box UL {
  position: relative;
  width: 960px;
  height: 430px
}

#Index_Box li {
  z-index: 0;
  position: absolute;
  width: 0px;
  background: #787878;
  height: 0px;
  overflow: hidden;
  top: 146px;
  cursor: pointer;
  list-style-type: none;
  list-style-image: none;
  left: 377px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 6px 14px #3b3b3b;
  -moz-box-shadow: 0px 6px 14px #3b3b3b;
  box-shadow: 0px 6px 14px #3b3b3b;
}

#Index_Box li img {
  width: 100%;
  background: url("../img/loading.gif") no-repeat center 50%;
  height: 100%;
  vertical-align: top;
}

#Index_Box .prev {
  display: block
}

#Index_Box .next {
  display: block
}

#Index_Box .prev {
  z-index: 100;
  overflow: hidden;
  cursor: pointer
}

#Index_Box .next {
  z-index: 100;
  overflow: hidden;
  cursor: pointer
}

#Index_Box .prev {
  position: absolute;
  width: 97px;
  background: url("../img/index/index_2_split.png") -1px -152px;
  height: 146px;
  top: 147px;
  left: -50px;
  z-index: 0;
}

#Index_Box .next {
  position: absolute;
  width: 97px;
  background: url("../img/index/index_2_split.png") -102px -152px;
  height: 146px;
  top: 147px;
  right: -50px;
  z-index: 0;
}

.form-wizard .progress {
  margin-bottom: 30px;
}

.form-wizard .steps {
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: #fff;
  background-image: none;
  filter: none;
  border: 0px;
  box-shadow: none;
}

.form-wizard .steps > li > a.step {
  background-color: #fff;
  background-image: none;
  filter: none;
  border: 0px;
  box-shadow: none;
}

.form-wizard .steps > li > a.step:hover {
  background: none;
}

.form-wizard .steps > li > a.step > .number {
  background-color: #eee;
  display: inline-block;
  text-align: center !important;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 15px 13px 15px;
  margin-right: 10px;
  height: 45px;
  width: 45px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.form-wizard .steps > li > a.step > .desc {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
}

.form-wizard .steps > li > a.step > .desc > i {
  display: none;
}

.form-wizard .steps > li.active > a.step .number {
  background-color: #45B6AF;
  color: #fff;
}

.form-wizard .steps > li.active > a.step .desc {
  color: #333;
}

.form-wizard .steps > li.done > a.step .number {
  background-color: #dfba49;
  color: #fff;
}

.form-wizard .steps > li.done > a.step .desc {
  color: #333;
}

.form-wizard .steps > li.done > a.step .desc i {
  font-size: 12px;
  font-weight: normal;
  color: #999;
  display: inline-block;
}

.tip-success {
  text-align: center;
}

.form-wizard .steps > li > a.step {
  color: grey;
}

.form-wizard .steps > li.active > a.step .desc {
  color: #45B6AF;
}

/*增加*/
.mb0 {
  margin-bottom: 0;
}

.main {
  width: 100%;
  overflow: hidden;
}

.sim-wrap {
  position: relative;
}

.sim-wrap .sim-img {
  width: 1920px;
  height: 500px;
  margin-left: -365px;
}

.sim-wrap .carousel-control {
  position: absolute;
  width: 88px;
  height: 159px;
  opacity: 1;
  display: block;
  left: 50%;
  top: 327px;
  background: url("../img/index/index_2_split.png") no-repeat;
}

.sim-wrap .carousel-control.left {
  background-position: 0 -311px;
  margin-left: -570px;
}

.sim-wrap .carousel-control.right {
  background-position: 0 -491px;
  margin-left: 482px;
}

.m-banner {
  width: 100%;
  height: 115px;
  overflow: hidden;
}

.fixed.m-wrap-list {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.m-banner .m-wrap-list {
  height: 115px;
  background: #f19134;
}

.m-wrap-list ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.m-wrap-list ul li {
  list-style: none;
  float: left;
  width: 170px;
  text-align: center;
}

.m-wrap-list ul li a {
  display: block;
  color: #fff;
  height: 115px;
  padding: 20px 0;
  cursor: pointer;
}

.m-wrap-list ul li.active a, .m-wrap-list ul li a:hover, .m-wrap-list ul li a:focus {
  background: #f7bd85;
  color: #e95529;
}

.m-wrap-list ul li a:hover {
  text-decoration: none;
}

.m-wrap-list ul li a h4 {
  margin: 0;
  height: 33px;
  line-height: 33px;
}

.link-list p, .link-list p a, .link-list div {
  color: #fff;
}

.promise {
  padding: 48px 0;
  width: 100%;
  overflow: hidden;
}

.our-promise li .prom-icon {
  height: 42px;
  background: url("../img/index/promise_split.png") no-repeat;
}

.our-promise li .icon-zp {
  background-position: 63px 4px;
}

.our-promise li .icon-dj {
  background-position: 67px -154px;
}

.our-promise li .icon-sd {
  background-position: 67px -104px;
}

.our-promise li .icon-sh {
  background-position: 64px -51px;
}

.our-promise li .icon-zf {
  background-position: 66px -208px;
}

.our-promise li .icon-ck {
  background-position: 67px -259px;
}

.our-promise li .icon-mt {
  background-position: 64px -314px;
}

/* act */
.our-promise li.active .icon-zp, .our-promise li a:hover .icon-zp {
  background-position: 63px -364px;
}

.our-promise li.active .icon-dj, .our-promise li a:hover .icon-dj {
  background-position: 67px -527px;
}

.our-promise li.active .icon-sd, .our-promise li a:hover .icon-sd {
  background-position: 67px -477px;
}

.our-promise li.active .icon-sh, .our-promise li a:hover .icon-sh {
  background-position: 64px -423px;
}

.our-promise li.active .icon-zf, .our-promise li a:hover .icon-zf {
  background-position: 66px -580px;
}

.our-promise li.active .icon-ck, .our-promise li a:hover .icon-ck {
  background-position: 67px -632px;
}

.our-promise li.active .icon-mt, .our-promise li a:hover .icon-mt {
  background-position: 64px -687px;
}

.promise.promise-low {
  background: #f7f7f7;
}

.promise .mt .t-h4 {
  font-size: 18px;
  margin: 0 0 20px;
  height: 48px;
  padding-left: 40px;
  background: url("../img/index/index_2_split.png") no-repeat;
}

.promise .mt .t-h4 b {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
}

.promise .mt .t-h4 span {
  height: 18px;
  line-height: 18px;
  color: #b4b4b5;
  font-size: 18px;
}

.promise-low .mt .t-h4, .promise-ck .mt .t-h4 {
  background-position: 2px -50px;
  color: #0069af;
}

.promise-low .mc .promise-img-1 {
  height: 443px;
  width: 926px;
  margin: 0 auto;
}

.promise-low .mc .promise-img-1 .m-img {
  text-indent: -99999px;
  height: 443px;
  background: url("../img/index/promise/promise1__03.gif") no-repeat 50% 0;
}

.promise.promise-zp {
  height: 600px;
  background: #e9512c url("../img/index/promise/zpbz.jpg") no-repeat;
}

.promise.promise-sd {
  background: #0069af;
}

.promise-sd .mt .t-h4 b, .promise-zp .mt .t-h4 b {
  color: #fff;
}

.promise-sd .mt .t-h4 span, .promise-zf .mt .t-h4 span, .promise-bd .mt .t-h4 span, .promise-zp .mt .t-h4 span {
  color: #f2952c;
}

.promise-sd .mc .t1 {
  text-align: center;
  color: #fff;
  margin: 30px 50px;
}

.promise-sd .promise-wrap .s-wrap {
  width: 969px;
  margin: 0 auto 20px;
  overflow: hidden;
}

.promise-sd .promise-wrap .four-s {
  margin-right: -79px;
}

.promise-sd .promise-wrap .four-s li {
  float: left;
  width: 262px;
}

.promise-sd .promise-wrap .four-s li .extra {
  padding: 20px 79px 0 0;
  text-align: center;
  width: 100%;
  color: #fff;
}

.promise-sd .promise-wrap .four-s li .circle-ic {
  height: 184px;
  text-indent: -99999px;
  background: url("../img/index/promise/circle_t.png") no-repeat;
}

.four-s li .extra .tm {
  font-size: 18px;
  color: #f7bc79;
}

.four-s li .extra h4 {
  font-size: 18px;
  margin: 10px 0 0;
}

.promise-sd .promise-wrap .g-tip .g101 {
  padding: 5px 432px;
  height: 44px;
  line-height: 34px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: url("../img/index/promise/g_101.gif") no-repeat 50% 0;
}

.four-s li .circle-ic .c {
  width: 80px;
  height: 80px;
  float: left;
  margin: 51px 130px 51px 51px;
  background: url("../img/index/promise/circle_t_z.png") no-repeat;
}

.four-s li .ic-2 .c {
  background-position: 0px -104px;
}

.four-s li .ic-3 .c {
  background-position: 0px -202px;
}

.four-s li .ic-4 .c {
  background-position: 0px -313px;
}

.promise-fw, .promise-ck {
  background: #f7f7f7 url("../img/index/promise/line_th.gif") no-repeat 50% 50%;
}

.promise-fw .mt .t-h4 {
  background-position: 2px -100px;
  color: #e95529;
}

.promise-fw .promise-wrap .pd {
  padding: 0 64px;
  margin-top: 20px;
}

.promise-fw .promise-wrap .ser {
  display: block;
}

.promise-fw .promise-wrap .img-wp {
  text-indent: -99999px;
  height: 348px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.promise-fw .promise-wrap .img-ser {
  background-image: url("../img/index/promise/fw.png");
}

.promise-fw .promise-wrap .dat-ser {
  background-image: url("../img/index/promise/sj.png");
}

.promise-fw .promise-wrap .sh-ser {
  background-image: url("../img/index/promise/sh.png");
}

.promise-fw .promise-wrap a:hover .img-ser {
  background-image: url("../img/index/promise/fw_2.png");
}

.promise-fw .promise-wrap a:hover .dat-ser {
  background-image: url("../img/index/promise/sj_2.png");
}

.promise-fw .promise-wrap a:hover .sh-ser {
  background-image: url("../img/index/promise/sh_2.png");
}

.promise-fw .promise-wrap .etr {
  padding: 20px 0 5px;
  text-align: center;
}

.promise-fw .promise-wrap .etr .bd {
  border: 2px solid #dbdcdc;
  padding: 0 30px;
  display: inline-block;
}

.promise-fw .promise-wrap .etr .bd h4 {
  margin: -5px 0;
  text-align: center;
  background: #f7f7f7;
  color: #888888;
}

.promise.promise-zf {
  background: #e95529 url("../img/index/promise/zfbz.jpg") no-repeat 50% 60px;
}

.promise-zf .mt .t-h4, .promise-bd .mt .t-h4 {
  color: #fff;
}

.promise-zf .promise-wrap .gov-wp {
  width: 738px;
  margin: 0 auto;
}

.promise-wrap .gov-wp .gv-tit {
  padding: 0 120px;
}

.promise-wrap .gov-wp .gv-tit .rd, .promise-wrap .gov-wp .gv-tit .rd img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.promise-wrap .gov-wp .gv-cnt {
  margin-top: 25px;
  height: 150px;
  background: url("../img/index/promise/so_four.png") no-repeat;
}

.gov-wp .gv-cnt ul {
  margin-right: -5px;
}

.gov-wp .gv-cnt li {
  width: 365px;
  float: left;
  margin-right: 5px;
}

.gov-wp .gv-cnt li {
  color: #fff;
  text-align: center;
  height: 70px;
}

.gov-wp .gv-cnt li h4 {
  margin-top: 20px;
  color: #e95529;
}

.gov-wp .gv-cnt li.l3 h4, .gov-wp .gv-cnt li.l4 h4 {
  margin-top: 25px;
}

.promise-ck .promise-wrap .ck-wrap {
  width: 738px;
  margin: 0 auto;
}

.promise-ck .promise-wrap .ck-wrap .ck-img {
  width: 738px;
  height: 307px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url("../img/index/promise/738_px.jpg") no-repeat 50% 0;
}

.promise-ck .promise-wrap .fg {
  text-align: center;
  margin-top: 20px;
}

.promise-ck .promise-wrap .fg h4 {
  color: #e95529;
  font-size: 24px;
  margin: 0;
}

.promise-ck .promise-wrap .fg .tp {
  color: #f3a037;
  font-size: 18px;
}

.promise-ck .promise-wrap .fg .ln-pd {
  padding: 0 50px;
  margin-bottom: 20px;
}

.promise-ck .promise-wrap .fg .ln-pd .ln-dot {
  border-bottom: 2px dashed #dbdcdc;
}

.promise-ck .promise-wrap .fg .where {
  margin: 0;
  font-size: 16px;
  color: #888888;
}

.promise.promise-bd {
  background: #0069af url("../img/index/promise/mtbd.jpg") no-repeat 50% 50px;
}

.promise.promise-bd .media-wrap {
  margin: 0 auto;
  width: 600px;
  height: 338px;
}

.promise.promise-bd .rp {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.header-navigation {
  font: 15px "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  overflow: visible;
}

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation > ul > li {
  float: left;
}

.header-navigation .navbar-right li .btn-rg {
  border: 1px solid #cd2024;
  background: #f2462b;
  color: #fff;
  background: -moz-radial-gradient(center, ellipse cover, #f2462b 0%, #d83525 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #f2462b 0%, #d83525 100%);
  background: radial-gradient(ellipse at center, #f2462b 0%, #d83525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2462b', endColorstr='#d83525', GradientType=1);
}

.header-navigation .navbar-right li .btn-login {
  border: 1px solid #005692;
  background: #0c6cad;
  color: #fff;
  background: -moz-radial-gradient(center, ellipse cover, #0c6cad 0%, #005591 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #0c6cad 0%, #005591 100%);
  background: radial-gradient(ellipse at center, #0c6cad 0%, #005591 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c6cad', endColorstr='#005591', GradientType=1);
}

.header-navigation ul > li > a:hover,
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
  color: #e02222;
  background: #f2f2f2;
  text-decoration: none;
}

#short-box {
  position: fixed;
  z-index: 3000;
  right: 0;
  bottom: -68px;
  margin-bottom: 95px;
  margin-left: 605px;
  width: 60px;
  _position: absolute;
  _bottom: auto;
}

#short-box ul {
  margin: 0;
  padding: 0;
}

#short-box ul li {
  list-style: none;
  background: #9fa0a0;
  border-top: 1px solid #888888;
}

#short-box ul li a {
  color: #fff;
  text-align: center;
  display: block;
  height: 60px;
  position: relative;
}

#short-box ul li a:hover {
  background: #3a7db9;
}

#short-box ul li a:hover, #short-box ul li a:focus {
  text-decoration: none;
}

#short-box ul li a .short-bg {
  display: block;
  height: 35px;
  text-indent: -99999px;
  background-image: url("../img/f_short_cut.png");
  background-repeat: no-repeat;
}

#short-box ul li.dh .short-bg {
  background-position: 50% 6px;
}

#short-box ul li.qq .short-bg {
  background-position: 50% -32px;
}

#short-box ul li.ww .short-bg {
  background-position: 50% -70px;
}

#short-box ul li.gz .short-bg {
  background-position: 50% -106px;
}

#short-box ul li.db .short-bg {
  background-position: 50% -143px;
}

#short-box ul li a .phone, #short-box ul li a .ewm-short {
  display: none;
  text-align: center;
  position: absolute;
  right: 60px;
  top: 0;
  padding: 0 10px;
  width: 140px;
  background: #3a7db9;
}

#short-box ul li a .phone {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
}

#short-box ul li a .ewm-short {
  padding: 10px;
  top: inherit;
  bottom: 0;
}

#short-box ul li a:hover .phone, #short-box ul li a:hover .ewm-short {
  display: block;
}

/* about us */
.margin-top-30 {
  margin-top: 30px;
}

.about-us {
  padding: 20px 23px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

.about-us .about-tit h2 {
  color: #0069af;
  font-size: 24px;
  font-weight: bold;
}

.about-us .about-tit h2 span {
  color: #eee;
  margin-left: 10px;
}

.about-tit .sub-tit {
  padding: 10px 0;
  background: #0069af;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0 10px;
}

.about-tit .sub-tit h3 {
  text-align: center;
  margin: 0;
}

.about-mt .well {
  margin: 0;
  min-height: 464px;
}

.well .mt-tit h4, .tx .mt-tit h4 {
  color: #e95529;
  margin: 0;
}

.well .mt-mt dl, .tx .mt-mt dl {
  margin-top: 20px;
  margin-bottom: 0;
}

.well .mt-mt dl dt, .tx .mt-mt dl dt {
  font-size: 18px;
  font-weight: normal;
  color: #0069af;
  margin-bottom: 20px;
}

.well .mt-mt dl dd, .ct-us li, .tx .mt-mt dl dd {
  line-height: 20px;
  font-size: 14px;
  position: relative;
  padding-left: 20px;
}

.well .mt-mt dl dd.l, .tx .mt-mt dl dd.l {
  padding-left: 0;
}

.well .mt-mt dl dd span, .tx .mt-mt dl dd span {
  margin-left: -20px;
  float: left;
}

.tx .mt-mt dl dd .ewm {
  display: block;
  float: none;
  margin: 0;
}

.jumbotron.error {
  height: 300px;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;
}